#container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
}   
#search-form {
    display: flex;
    margin-bottom: 20px;
}
#search-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#search-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}
#search-btn:hover {
    background-color: #0056b3;
}   
#error {
    color: red;
    font-weight: bold;
}
p {
    margin: 10px 0;
}   
body {
    background-color: #f4f4f4;
    margin-top: 50px;
}
#word{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.favorite-star {
  font-size: 30px;
  color: #0a0000;
  cursor: pointer;
  transition: color 0.2s;
  border: none;
  background: none;
}

.favorite-star:hover {
  color: #ffcc00; 
}
#favorites-btn {
    background: none;
    border: none;
    cursor: pointer;
}
#favorites-view-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
}
#favorites-view-btn:hover {
    background-color: #218838;
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#remove-favorite-btn {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#remove-favorite-btn:hover {
    background-color: #c82333;
}
#favorite-words {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}